dt {
    font-size: 18px !important;
    margin-bottom: 10px;
}

dd div {
    display: block;
}

dd div:not(:last-child) {
    margin-bottom: .3em;
}

.subscription-countdown {
    font-size: 1.1em;
    padding: 1em;
    border: 1px solid var(--stone-300);
    background-color: light-dark(white, var(--stone-800));
    color: light-dark(var(--graphite), var(--gravel));
    border-radius: .5em / 1em;
}