section {
    text-align: left;
}

section h3 {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: .5em;
}

section h3:not(:first-child) {
    margin-top: 3em;
}

section h3:target {
    border-color: var(--tertiary-color);
    font-size: 1.2em;
}

section h3:target::before {
    content: "📍 ";
    display: inline-block;
    border-width: 0;
}

section h3 a {
    border: none;
}

section p {
    font-size: 1.2em;
}

code {
    border: 1px inset var(--border-color);
    border-radius: .4em .3em;
    font-size: .8em;
    padding: .1em .3em;
    background-color: var(--secondary-color);
}